[submodule "melolink_unfold23"]
	path = melolink_unfold23
	url = https://github.com/rmzrj/melolink_unfold23.git
[submodule "MelolinkScontract"]
	path = MelolinkScontract
	url = https://github.com/0xMuxi/MelolinkScontract.git
